body {
  background-image: url(/img/beaf_bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.about_us {
  display: flex;
  margin-top: 1%;
  background-color: rgba(239, 239, 239, 0.9);
}
.phoneLogo {
  height: 20px;
  width: 20px;
}
.LogoShop {
  height: 20px;
  width: 20 px;
}
